<div class="form">
<div class="form__box">
<div class="form__box--contribute">
    <%= link_to '', @activity.challenge, class:"delete", id: "backbuttoncontribute"%>

    <h1 class="title">Contribute to activity "<%= @activity.title %>"</h1>

    <%= render 'form', entry: @entry %>

</div>
</div>
</div>

