<div class="form">
  <div class="form__box">
  <div class="form__box--sign">

        <h1 class="title">Sign up</h1>

        <%= render 'form', user: @user %>

        <div class= "has-text-centered" >
            or <%= link_to 'Log in', login_path %>
        </div>
    </div>
    </div>
</div>