<%#
 Impressum
 Copyright by Maria Edlinger, Jonathan Lex and Markus Wallner
%>

<div class="form">
  <div class="form__box">
  <div class="form__box--sign">

        <h1 class="title">Neues Konto erstellen</h1>

        <%= render 'form', user: @user %>

        <div class= "has-text-centered loginlink" >
            oder <%= link_to 'Login', login_path %>
        </div>
    </div>
    </div>
</div>