<%#
 Impressum
 Copyright by Maria Edlinger, Jonathan Lex and Markus Wallner
%>

<div class="newchallenge">

<h1 class="title">Editing Challenge</h1>

<%= render 'form', challenge: @challenge, buttonText: "Save"  %>