<div class="form">
  <div class="form__box">
  <div class="form__box--newchallange">

    <h1 class="title">New Challenge</h1>

    <%= render 'form', challenge: @challenge %>

    </div>
    </div>
</div>