// Impressum
// Copyright by Maria Edlinger, Jonathan Lex and Markus Wallner

@import "variables";

footer{
  background-color: #141414;
  color: #FFFFFF;
  padding: $space-medium;

  svg {
    color: $secondary-color;
    width: 8vw;
  }

  .highlight {
    font-weight: bold;
    color: $secondary-color;
  }

  .column--right {
    text-align: right;
  }
}