
@import "variables";

.form{
    height: 90vh;
    display: flex;
    align-items: center;
    align-content: center;
    background-image: asset-data-url("laufen_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 960px) {
      & {
        background-image: asset-data-url("laufen_960.jpg");
      }
    }
    
    h1{
        text-align: center;
        color: $primary-color;
    }

    &__box{
        background-color: #fff;
        border-radius: 1.5rem/2rem;
        border: 1px solid black;
        border-radius: $space-medium/2rem;;
        padding: $space-large;
        margin: 0 auto;
        width: 30%;
        min-width: 450px;

        &--sign{
            .loginlink{
                margin-top: $space-small;
            }
        }

        &--contribute{
            text-align: center;
            align-items: center;

            .field.has-addons {
                margin: 0 20px;
                justify-content: center;
            }
        }

        .content ul{
            margin-top:0;
        }
    }

    @media screen and (max-width: 500px) {
        .form {
            &__box{
                width: 100%;
                margin: 0 5%;
                min-width: 0;
            }
        }
    }
}