
@import "variables";

.form{
    height: 90vh;
    display: flex;
    align-items: center;
    align-content: center;
    background-image: url(asset_path("laufen.jpg"));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    h1{
        text-align: center;
        color: $primary-color;
    }

    &__box{
        background-color: #fff;
        border-radius: 1.5rem/2rem;
        border: 1px solid black;
        border-radius: $space-medium/2rem;;
        padding: $space-large;
        margin: 0 auto;
        width: 30%;
        min-width: 450px;

        &--contribute{
            text-align: center;
            align-items: center;

            .field.has-addons {
                margin: 0 20px;
                justify-content: center;
            }
        }
    }

    @media screen and (max-width: 500px) {
        .form {
            &__box{
                width: 100%;
                margin: 0 5%;
                min-width: 0;
            }
        }
    }
}