@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.title, .subtitle {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

a:link {
  color: $secondary-color;
}

a:visited {
  color: $secondary-color;
}

a:hover {
  color: #2E2F30;
}

a:active {
  color: $secondary-color;
}

.centered {
  text-align: center;
}