@import "variables";

.header{
    top: 0;
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $primary-color;
    color: #ffffff;
    padding: 2rem;
    &__list {
        list-style-type: none;
      }
    &_item{
        font-size: 20px;
        a{
            text-decoration: none;
            color: inherit;
            padding: 0.15rem;
            border: 3px solid $primary-color;
            border-radius: 3px;
            transition: all 0.7s ease;
            
        }
        a:hover{
            //text-decoration: underline;
            color: $secondary-color;
            //border-color: $secondary-color;
            border-color: $primary-color $primary-color $secondary-color $primary-color;
        }
    }
    .highlight{
        font-weight: bold;
        color: $secondary-color;
    }
}

@media screen and (max-width: 750px) {
    .header{
        &_item{
            display: none;
        }
    }
}
