@import "variables";

.hero{
    background-image: url("hero_2880.jpg");
    background-position: center;
    background-size: 100%;
    img{
        max-width: 100%;
    }
    min-height: 45vh;
}
@media screen and (max-width: 1440px) {
  .hero {
    background-image: url("hero_1440.jpg");
  }
  @media screen and (max-width: 720px) {
    .hero {
      background-image: url("hero_720.jpg");
    }
  }
}
.overview{
    font-size: 2rem;
    background-color: $primary-color;
    color: white;
    padding: 1rem;
    margin-bottom: $space-small;

}