@import "variables";

.challengeWrapper{
  max-width: 750px;
}

.challengeContainer{
    margin: $space-medium;
    display: grid;
    grid-template-columns: auto 20% 20%;
    grid-template-rows: 150px auto;
    border-radius: 1.5rem/2rem;
    overflow: hidden;
    background-color: #FFFFFF;
    transition: all 0.4s ease-in-out;
    
    h2{
      font-size: 20px;
      @media screen and (max-width: 764px){
        & {
          font-size: 16px;
        }
      }
    }

    a{
      text-decoration: none;
      color: white;
      &:visited{
        color: white;
      }
    }
    

    &:hover{
      box-shadow: 10px 8px 24px 6px rgba(0,0,0,0.75);
      cursor: pointer;
    }
  }
  .num_requests_home{
    background-color: #FFA500;
    border-radius: 100%;
    position: relative;
    left: 89%;
    top: -74%;
    z-index: 2;
    display: block;
    width: 3rem;
    height: 3rem;
    text-align: center;
    user-select: none;
    font-size: 32px;
    line-height: 1.3;
    
  }
  
  .challenge_img{
    background-color: #ffffff;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    img{
      position: center;
      width:100%;
      overflow: hidden;

    }
  }
  
  .challenge_title{
    display: inline-grid;
    justify-items: center;
    align-items: center;
    background-color: $primary-color;
    grid-row-start:1;
    grid-column-start:2;
    grid-column-end: 4;
    text-align: center;
    overflow: hidden;
    background-size:100%;
    background-position: center;
    height: 100%;
    h2{
      padding-top: $space-medium;
      color: $secondary-color;
    }
  }
  
  .challenge_descp{
    grid-column-start:1;
    grid-column-end:4;
    height: 100%;
    border: 5px solid;
    border-color: $primary-color  transparent transparent;
    padding: $space-small;
    p{
      color: $primary-color;
      word-wrap: break-word;
    }
  }
  
  .blurr{
      
    background: rgb(1,35,64);
    background: linear-gradient(180deg, rgba(1,35,64,1) 0%, rgba(217,227,233,1) 80%, rgba(255,255,255,1) 100%);
  }
  @media screen and (max-width: 764px){
    
    .num_requests_home{
      display: none; 
      // #TODO: Bug mit einer zeile behebn
    }
  
}
  @media screen and (max-width: 1300px){
      .num_requests_home{
        left: 83%;
      }
  }
 
 


  