// Impressum
// Copyright by Maria Edlinger, Jonathan Lex and Markus Wallner

@import "variables";

.challengeWrapper{
  max-width: 750px;
}

.challengeContainer{
    margin: $space-medium;
    display: grid;
    grid-template-columns: auto 20% 20% 0;
    grid-template-rows: 150px auto;
    border-radius: 1.5rem/2rem;
    overflow: hidden;
    background-color: #FFFFFF;
    transition: all 0.4s ease-in-out;
    
    h2{
      font-size: 20px;
      @media screen and (max-width: 764px){
        & {
          font-size: 16px;
        }
      }
    }

    a{
      text-decoration: none;
      color: white;
      &:visited{
        color: white;
      }
    }
    

    &:hover{
      box-shadow: 10px 8px 24px 6px rgba(0,0,0,0.75);
      cursor: pointer;
    }
  }
  .num_requests{
    &--home {
      right:38px;
      top: 8px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 20px;
      display: block;
    }

    &--my-challenges {
       width: 30px;
       height: 30px;
       line-height: 30px;
       font-size: 20px;
       color: #4a4a4a;
       display: inline-block;
       bottom: 15px;
     }

    &--navbar {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 20px;
      color: #4a4a4a;
      display: inline-block;
      bottom: 15px;
    }
  }


  .challenge_img{
    background-color: #ffffff;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    img{
      position: center;
      width:100%;
      overflow: hidden;

    }
  }

  .challenge_title{
    display: inline-grid;
    justify-items: center;
    align-items: center;
    background-color: $primary-color;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end: 4;
    text-align: center;
    overflow: hidden;
    background-size:100%;
    background-position: center;
    height: 100%;
    h2{
      padding-top: $space-medium;
      color: $secondary-color;
    }
  }

  .challenge_descp{
    grid-column-start:1;
    grid-column-end:4;
    height: 100%;
    border: 5px solid;
    border-color: $primary-color  transparent transparent;
    padding: $space-small;
    p{
      color: $primary-color;
      word-wrap: break-word;
    }
  }

  .blurr{
    background: linear-gradient(180deg, rgba(1,35,64,1) 0%, rgba(217,227,233,1) 80%, rgba(255,255,255,1) 100%);
    width: 100vw;

    .columns {
      margin: -12px 0 0;
    }
  }

 


  