// Impressum
// Copyright by Maria Edlinger, Jonathan Lex and Markus Wallner

@import "variables";

.button-transition {
  transition: 0.2s ease-in;
}

.show-container {
  padding: $space-medium;
  margin: $space-medium;

  &__list {
    &--entries {
      @media screen and (min-width: 1000px){
        margin-left: $space-large;
      }
    }
  }
}

.show_owner-container {
  padding: $space-medium 0;
  margin: $space-medium 0;

  h2 {
    color: #000000;
  }
}
.subtitle{
  color: #2E2F30;
}
.show-header {
  background-color: $primary-color;
  padding: $space-medium;
  width: 100vw;
  margin-left: 0;

  .column {
    text-align: center;
  }
}

.activities {
  align-items: center;
  flex-direction: column;

  &__col {
    padding-bottom: $space-large;
    padding-top: $space-large;
  }
}

.activity {
  text-align: center;

  .subtitle{
    color: #2E2F30;
  }

  input {
    margin-top: $space-medium;
  }
}

.description {
  @media screen and (max-width: 720px){
    word-wrap: break-word;
  }
}

.progressbar {
  display: flex;
  justify-content: space-between;
}

.num_requests {
  &--show {
    left: calc(50% + 73px);
    top: 10px;
    width: 20px;
    height: 20px;
    line-height: 1.2;
    display: block;
  }
}
