* {
  box-sizing: border-box;
}

.button-transition {
  transition: 0.2s ease-in;
}

.show-container {
  // TODO set variable
  padding: 1.5rem;
  margin: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.show-header {
  // TODO set variable
  background-color: #012340;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .title {
    // TODO set variable
    color: #FFFFFF;
  }

  .subtitle {
    // TODO set variable
    color: #FFFFFF;
  }

  // TODO einheitlicher Link
  a {
    color: #FFFFFF;
  }
  a:hover {
    color: #FFFFFF;
  }
}

.activities {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.activity {
  text-align: center;
  margin-bottom: 3rem;
}

.description {
  // TODO set variable
  padding-bottom: 0.75rem;
}

.progressbar {
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url("hero-3000.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
}

@media screen and (max-width: 1500px) {
  .hero {
    background-image: url("hero-1500.jpg");
  }
  @media screen and (max-width: 750px) {
    .hero {
      background-image: url("hero-750.jpg");
    }
  }
}