// Impressum
// Copyright by Maria Edlinger, Jonathan Lex and Markus Wallner

$space-small: 0.75rem;
$space-medium: 1.5rem;
$space-large: 3rem;
$space-huge: 6rem;
$primary-color: #012340;
$secondary-color: #FFDD57;